@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #0a0a0a;
  --secondary-text: #B2B2B3;
  --primary: #60A5FA;
  --warning: #FFC107;
  --headers: #D7E7FB;
  --chat-background: #F6F8FB;
  --chat-hover: #EEF4FA;
  --chat-active: #E7F0FA;
  --chat-from: #E7F0FA;
  --chat-to: #E7F0FA;
  --online: #00D559;
  --dark-blue: #64748B;
}

.dark {
  --background: #0a0a0a;
  --foreground: #F9FAFB;
}

@theme inline {
  --color-dark-blue: var(--dark-blue);
  --color-secondary-text: var(--secondary-text);
  --color-online: var(--online);
  --color-headers: var(--headers);
  --color-background: var(--background);
  --color-chat-hover: var(--chat-hover);
  --color-chat-active: var(--chat-active);
  --color-chat-background: var(--chat-background);
  --color-chat-from: var(--chat-from);
  --color-chat-to: var(--chat-to);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-warning: var(--warning);
  --color-dark-blue: var(--dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-funnel: "Funnel Display", sans-serif
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funnel);
}

.bg-chat {
  background-image: url('/chat_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}