@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap");
@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #0a0a0a;
  --primary: #60A5FA;
  --warning: #FFC107;
  --overlay: #EEF4FA;
  --active-chat: #D0E3FA;
  --hover-chat: #DFECFB;
  --success: #4BEC9F;
  --chat-background: #EFF0F1;
  --dark-blue: #64748B;
}

.dark {
  --background: #0a0a0a;
  --foreground: #F9FAFB;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-warning: var(--warning);
  --color-overlay: var(--overlay);
  --color-active-chat: var(--active-chat);
  --color-hover-chat: var(--hover-chat);
  --color-success: var(--success);
  --color-chat-background: var(--chat-background);
  --color-dark-blue: var(--dark-blue);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-funnel: "Funnel Display", sans-serif
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funnel);
}

.bg-chat {
  background-image: url('/chat_bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}